# Base de datos
DATABASE_URL=postgresql://foresplanilla_user:foresplanilla123@localhost:5432/foresplanilla_local

# Biotime (base de datos de marcaciones)
BIOTIME_DATABASE_URL=postgresql://foresplanilla_user:foresplanilla123@localhost:5432/biotime

# JWT
JWT_SECRET=secret
JWT_EXPIRES_IN=24h

# Server
PORT=3001
NODE_ENV=development
#
# Mailer
SMTP_HOST=tu-servidor-smtp
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu-usuario@dominio.com
SMTP_PASS=tu-contraseña
SMTP_FROM=noreply@dominio.com

EXTERNAL_API_BASE_URL=https://example.pe/api
EXTERNAL_API_EMAIL=user@example.com
EXTERNAL_API_PASSWORD=secret

# Consulta de DNI (API Perú)
PERU_DNI_TOKEN=tu-token-de-apiperu
